body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* import { useEffect } from "react";
import { getAllUsersLists } from "./api";
import "./App.css";

function App() {
  useEffect(() => {
    apiCall();
  }, []);

  const apiCall = async () => {
    const data = await getAllUsersLists();
    console.log(data.data.users);
  };

  return (
  <div className="App">This is the main</div>
  );
}

export default App; */
